<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Names</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>List of Packages</h1>
        <ul>
            <li>bcrypt@5.1.1</li>
            <li>express-fileupload@1.4.3</li>
            <li>express-handlebars@7.1.2</li>
            <li>express-session@1.18.0</li>
            <li>express@4.19.2</li>
            <li>handlebars@4.7.8</li>
            <li>hbs@4.2.0</li>
            <li>mongodb@6.4.0</li>
            <li>mongoose@8.2.1</li>
            <li>nodemon@3.1.0</li>
        </ul>
    </div>
</body>
</html>
